body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    color: #3D3D3D;
}

.container-md {
    padding: 0 100px;

}

.logo img{
    width: 75%;
    height: auto;
}

.nav-item:not(:last-child) {
    margin-right: 2rem;
}

.nav-item {
    background-color: white;
    align-items: center;
    border-radius: var(--bs-border-radius-xxl) !important;
    padding: 0 0.5rem;
}

.nav-item i {
    font-size: xx-large;
    color: #003A04;
    vertical-align: middle;
}

header .banner {
    padding: 0;
}

.banner img {
    height: 100vh;
}

header .intro-text {
    margin: auto;

}


.btn-default {
    color: white;
    background-color: #DBB800;
    transition: all 0.3s ease-in-out;
}

.btn-default:active, .btn-default:hover {
    color: white !important;
    background-color: #dcbf33 !important;
    transform: scale(0.99);
}

.icon-24 img{
    width: 75%;
    height: auto;
}

.ic-mouse {
    width: fit-content;
    margin-top: -60px;
    margin-left: 50%;
}

.ic-mouse:active, .ic-mouse:hover {
    cursor: pointer;
}

.curiosity-heading {
    font-weight: 700;
}

section {
    margin-top: 12%;
}

.text-gradient {
    background: linear-gradient(to right,#DB2700, #DBB800);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.card-sm {
    transition: all 0.3s ease-in-out;
}

.card-sm:hover {
    opacity: 0.85;
    cursor: pointer;
    transform: scale(0.99);
}

.card-sm img {
    width: 100%;
    height: 90%;
}


.card-md {
    border-radius: 32px;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.card-md .card-img-top {
    width: 90%;
    height: 90%;
    margin: 1rem 0;;
}

.card-lg {
    color: white;
    background-image: url("../img/thumbs/member1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 8%;
    padding: 6%;
    transition: all 0.3s ease-in-out;
}

.card-lg:hover {
    cursor: pointer;
    transform: scale(0.99);
    opacity: 0.85;
}

.card-link {
    display: flex;
    align-items: center;
}

.card-link {
    text-decoration: none;
    color: #3D3D3D;
    font-weight: 500;
}

.card-title {
    text-align: center;
}

.card-text {
    text-align: start;
}

.footer {
    background-color: rgba(219, 39, 0, 0.79);
}


.list {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;
}

.list-item {
    margin-bottom: 8%;
}

.list-item a {
    text-decoration: none;
    color: #8e8e8e;
    font-weight: 300;
}

.list-item a:active, .list-item a:hover {
    color: #c1c1c1;
}

.list-header a{
    color: #3D3D3D;
    font-weight: 600;
}

.py-7 {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}


footer {
    background-color: #db2700c9;
    padding: 2rem;
}

footer .copyright {
    color: white;
    font-weight: 500;
    font-size: small;
}

ul.social-buttons{
    margin-bottom: 0;
}

ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    border-radius: 100%;
    outline: none;
    background-color: #212529;
}

ul.social-buttons li a:active, ul.social-buttons li a:hover{
    background-color: #3677b1;
}

.custom-menu {
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: white;
    position: absolute;
    z-index: 1100;

    animation-duration: 0.5s;
    animation-name: fadeInd;
}

@keyframes fadeInd {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.custom-menu .list-item {
    margin-bottom: 2rem;
}

.custom-menu .list-item:last-child {
    margin-bottom: 0;
}

.custom-menu .list-item a {
    color: #3D3D3D;
    font-size: 34pt;
    font-weight: 500;
}

.custom-menu .list-item a:active, .custom-menu .list-item a:hover {
    color: #c1c1c1 !important;
}

.back-link a {
    margin-top: 7rem;
    display: inline-flex;
    text-decoration: none;
    color: white;
    align-items: center;
    transition: all0.3s ease-in-out;
}

.back-link a:hover {
    transform: scale(0.99);
    opacity: 0.5;
}
