header.masthead {
    background-image: url("../img/thumbs/Apresentação1.png");
}

.card-lg {
    color: white;
    background-image: url("../img/thumbs/renda-extra-CRED-iStock_Ridofranz.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 8%;
    padding: 6%;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-lg:hover {
    cursor: auto;
    transform: none;
    opacity: 1;
}

.card-md{
    text-align: center;
    padding: 0;
}

.card-img-top {
    height: 200px !important;
}

.card-text {
    text-align: center;
}
