 /* Reset de estilos */
 body, h1, h2, h3, h4, h5, h6, p, a, ul, li, input, button {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    
  }
  
  .body {
    background-color: white;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 50px); /* Altura da viewport menos 50 pixels */
    
   
  }
  
  .left {
    text-align: right; /* Alinha os elementos à esquerda */
   
  }
  
  .right {
    align-items: flex-end; /* Alinha os itens ao final da coluna direita */
    
  }
  
  .left img {
    height: auto;
    object-fit: fill;
    
  }
  
  .form {
    width: 80%;
    margin-top: 40px; /* Distância do final da página */
    margin-left: 5%;
    
  }
  
  .login-box {
    margin-top: 26px;
  }
  
  .btn-default {
    margin-top: 26px;
  }
  
  .divider-box {
    margin-top: 26px;
  }
  
  .divider-text {
    margin: 0 26px;
  }
  
  .input-box {
    margin-top: 26px;
  }
  
  h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .gradient-text {
    background: linear-gradient(to right,#DB2700, #DBB800);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .login-box {
    background-color: #fff;
    padding: 0px;
    border-radius: 8px;
  }
  
  h3 {
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 13px; /* Adicionando borda arredondada */
    background: transparent;
    box-shadow: none; /* Removendo o efeito de sombra */
  }
  /* Estilizando o novo campo de texto de confirmação de senha */
  input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 13px; /* Adicionando borda arredondada */
    background: transparent;
    box-shadow: none; /* Removendo o efeito de sombra */
    
  }
  
  
  a {
    text-decoration: none;
    color: blue;
    font-size: 12px; /* Reduzindo o tamanho da fonte do link */
  }
  
  
  .btn-default {
    color: white;
    background-color: #DBB800;
    transition: all 0.3s ease-in-out;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: auto; /* Largura automática por padrão */
  }
  
  .btn-default:active,
  .btn-default:hover {
    color: white !important;
    background-color: #dcbf33 !important;
    transform: scale(0.99);
  }
  .google-login {
    width: 100%; /* Definindo a largura do botão como 100% do contêiner pai */
    max-width: none; /* Garantindo que a largura máxima não seja limitada */
  }
  
  
  .divider-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .left-divider, .right-divider {
    flex: 1;
    height: 1px;
    background: linear-gradient(to right,#DB2700, #DBB800);
  }
  
  .divider-text {
    padding: 0 10px;
    font-size: 24px; /* Tamanho da fonte da palavra 'ou' */
  }
  
  .banner {
    position: relative; /* Tornar o posicionamento dos elementos filhos relativo a este */
  }
  
  .form {
    padding: 40px;
  }
  header .banner {
    padding: 0;
  }
  .banner img {
    width: 100.63vh;
    height: 97.63vh;
    
  }
  .overlay {
      position: absolute;
      top: 50%; /* Centralizar verticalmente */
      left: 47%; /* Centralizar horizontalmente */
      transform: translate(-50%, -50%);
      padding: 20px;
      border-radius: 8px;
      text-align: center;
     
     
    }
    
    .first-message {
      font-size: 58px;
      font-weight: 700;
      width: 160%; /* Largura de 100% para a primeira mensagem */
    }
    
    .second-message {
      font-size: 34px;
      font-weight: 100;
      color: white;
      width: 147%; /* Largura de 70% para a segunda mensagem */
    }
    
  .copyright-message {
    font-size: 16px;
    color: white;
    position: absolute;
    bottom: 50px; /* Distância do fundo */
    left: 20px; /* Distância da esquerda */
  }
  
  .gradient-text {
    background: linear-gradient(to right, #DB2700, #DBB800);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  
  /* Estilos para a mensagem no canto superior direito */
  .register-message {
    float: right;
    margin-top: 50px;
    margin-right: 20px;
    color: rgb(0, 0, 0);
  }
  
  .register-link {
    
    color:blue ;
    font-size: 15px;
  }
  
  .copyright-message {
    font-size: 16px;
    color: white;
    position: absolute;
    bottom: 50px; /* Distância do fundo */
    left: 20px; /* Distância da esquerda */
  }
  
  /* Adicionando animações */
@keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .first-message,.second-message{
    opacity: 0; /* Começa invisível */
    animation: fade-in 1s ease forwards; /* Aplica a animação */
  }
  
  /* Adicionando atraso para a segunda mensagem */
  .second-message {
    animation-delay: 0.5s; /* Atraso de 0.5s */
  }

 
 