body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: white; /* Adicionando o background branco */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.left {
  flex: 1;
  padding: 20px;
}

.right {
  flex: 1;
  padding: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.gradient-text {
  background: -webkit-linear-gradient(red, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 5px; /* Adicionando borda arredondada */
  background: transparent;
  box-shadow: none; /* Removendo o efeito de sombra */
}

a {
  text-decoration: none;
  color: blue;
  font-size: 12px; /* Reduzindo o tamanho da fonte do link */
}

.forgot-password {
  float: right;
}

.login-buttons {
  text-align: center;
}

img {
  cursor: pointer;
}

.divider {
  text-align: center;
  margin: 20px 0;
}

.left-divider, .right-divider {
  display: inline-block;
  width: 45%;
  height: 1px;
  background: -webkit-linear-gradient(red, yellow);
}

.divider-text {
  margin: 0 10px;
  font-size: 14px; /* Tamanho da fonte da palavra 'ou' */
}
