<!-- Header set up #################################################################################################-->
<header class="masthead" style="background-image: url('/images/thumbs/generic.png');">
    <div class="container-md">
        <div id="backLink" class="back-link">
            <a href="#">
                <i class="bi bi-arrow-left fs-1 mt-1 text-gradient"></i>
                <div class="fs-6 ms-2">Voltar</div>
            </a>
        </div>
        <div class="intro-text">
            <div class="intro-lead-in display-6 fw-bold">Descubra ainda mais ofertas na tua <br> App MyPastry</div>
        </div>
    </div>
</header>
    

<!-- Section 2 - Product Collections set up #################################################################################################-->

<section>
    <div class="container-md mb-5">

        <div class="row justify-content-between">

            <div class="card card-md col-md-3 text-center">
                <img class="card-img-top card-img-lg img-fluid rounded-4 mb-2" src="/images/app/new-parcel.png" alt="">

                <div class="card-body">
                    <h5 class="card-title">Junte e troque pontos</h5>
                    <p>Ganhe pontos que valem produtos.</p>
                    <a class="btn btn-default fw-bold py-3 px-5 rounded-5" href="#">Saber mais</a>
                </div>
            </div>

            <div class="card card-md col-md-3 text-center">
                <img class="card-img-top card-img-lg img-fluid rounded-4 mb-2" src="/images/app/localizing.png" alt="">

                <div class="card-body">
                    <h5 class="card-title">Pedidos Mobile</h5>
                    <p>Realize pedidos, pague na App e levante no balcão.</p>
                    <a class="btn btn-default fw-bold py-3 px-5 rounded-5" href="#">Saber mais</a>
                </div>
            </div>

            <div class="card card-md col-md-3 text-center">
                <img class="card-img-top card-img-lg img-fluid rounded-4 mb-2" src="/images/app/shopping.png" alt="">

                <div class="card-body">
                    <h5 class="card-title">Ofertas exclusivas</h5>
                    <p>Ofertas exclusivas para clientes MyPastry.</p>
                    <a class="btn btn-default fw-bold py-3 px-5 rounded-5" href="#">Saber mais</a>
                </div>
            </div>

        </div>
    </div>
</section>

    <!-- Section 3 - About the app set up #################################################################################################-->

<section>
    <a class="text-decoration-none" href="https://mypastry.onrender.com/login">

        <div class="container-md">
            <div class="row justify-content-start">
                <div class="card-lg rounded-4" style="background-image: url('/images/thumbs/member1.png');">
                    <div class="col-8">
                        <div class="fs-3 fw-bold mb-2">Já tem uma conta <span class="text-gradient">MyPastry</span>?</div>
                        <div class="card-text">Registe-se agora e habilite-se a ganhar ofertas exclusivas. <br>
                            Acumule pontos que se convertem em produtos e realize os seus pedidos pela App com os Pedidos Mobile. </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
</section>