<!-- Header set up #################################################################################################-->
<header class="masthead" style="background-image: url('/images/thumbs/meal.png');">
    <div class="container-md">
        <div class="row">
            <div class="back-link">
                <a href="http://localhost:5300/">
                    <i class="bi bi-arrow-left fs-1 mt-1 text-gradient"></i>
                    <div class="fs-6 ms-2">Voltar</div>
                </a>
            </div>
            <div class="intro-text">
                <div class="intro-lead-in display-6 fw-bold">Produtos</div>
            </div>
        </div>
    </div>
</header>
            



<!-- Cards #################################################################################################-->
<section>
    <div class="container-md">
        <div class="row justify-content-between gy-5">

            <div class="card card-md col-md-3 text-center" style="width: 18rem;">
                <img class="card-img-top img-fluid rounded-4 mb-2" src="/images/products/collections/pastel.png"  alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pastéis</h5>
                    <p class="card-text">Deliciosos pastéis de vento, iguarias brasileiras.</p>
                    <a class="btn btn-default fw-bold py-3 px-5 rounded-5" href="http://localhost:5300/products/?category=pastel">Saber mais</a>
                </div>
            </div>
            
                <div class="card card-md col-md-3 text-center" style="width: 18rem;">
                <img class="card-img-top img-fluid rounded-4 mb-2" src="/images/products/collections/ham2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Hambúrgueres</h5>
                    <p class="card-text">Deliciosos hambúrgueres com sabor à Brasil.</p>
                    <a class="btn btn-default fw-bold py-3 px-5 rounded-5" href="http://localhost:5300/products/?category=hamburger">Saber mais</a>
                </div>
                </div>

                <div class="card card-md col-md-3 text-center" style="width: 18rem;">
                <img class="card-img-top img-fluid rounded-4 mb-2" src="/images/products/collections/fries2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Acompanhamentos</h5>
                    <p class="card-text">Batatas fritas chouriço na brasa e muito mais.</p>
                    <a class="btn btn-default fw-bold py-3 px-5 rounded-5" href="http://localhost:5300/products/?category=complement">Saber mais</a>
                </div>
                </div>

                <div class="card card-md col-md-3 text-center" style="width: 18rem;">
                <img class="card-img-top img-fluid rounded-4 mb-2" src="/images/products/collections/drink.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Bebidas</h5>
                    <p class="card-text">Bebidas geladas e quentes.</p>
                    <a class="btn btn-default fw-bold py-3 px-5 rounded-5" href="http://localhost:5300/products/?category=beverage">Saber mais</a>
                </div>
                </div>

                <div class="card card-md col-md-3 text-center" style="width: 18rem;">
                <img class="card-img-top img-fluid rounded-4 mb-2" src="/images/products/desserts.png"  alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sobremesas</h5>
                    <p class="card-text">Mousses, bolos, brigadeiros e muito mais.</p>
                    <a class="btn btn-default fw-bold py-3 px-5 rounded-5" href="http://localhost:5300/products/?category=dessert">Saber mais</a>
                </div>
                </div>

                <div class="card card-md col-md-3 text-center" style="width: 18rem;">
                <img class="card-img-top img-fluid rounded-4 mb-2" src="/images/products/desserts.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Iguarias</h5>
                    <p class="card-text">Açaí, caldo de cana, sabores que lembram o Brasil.</p>
                    <a class="btn btn-default fw-bold py-3 px-5 rounded-5" href="http://localhost:5300/products/?category=delicacy">Saber mais</a>
                </div>
                </div>

        </div>
    </div>      
    
</section>