<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 align-self-center">
                <div class="intro-text w-50">
                    <div class="intro-lead-in display-5 fw-bold mb-4">Chegou o tempo dos pasteis!</div>
                    <div class="intro-heading fs-6 mb-4">Ofertas especiais para membros MyPastry. Registe-se agora e desfrute dos nossos deliciosos pasteis.</div>
                    <a class="btn btn-default fw-bold py-3 px-5 rounded-5" href="http://localhost:5300/app">Saber mais</a>
                </div>

            </div>
            
            
            <div class="col-lg-4 banner">
                <img class="img-fluid" src="images/banner/carne.png" alt="">
            </div>
            
        </div>
        
    </div>
    
    <div id="ic-mouse" class="icon-24 ic-mouse position-absolute translate-middle "><img src="images/icons/mouse.svg" alt=""></div>
</header>

<!-- Section 1 - Curiosity set up #################################################################################################-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="curiosity-heading fs-2">Sabia que nós fomos os <span class="text-gradient">primeiros</span> a chegar?</div>
                <div class="section-body-text fs-5 mx-auto mt-3 w-50">Em Agosto de 2001, na freguesia de Benfica, foi inaugurada a nossa primeira pastelaria. 
                    Nós trouxemos os sabores brasileiros à Portugal.</div>
            </div>
        </div>
    </div>
</section>

<!-- Section 2 - Product Collections set up #################################################################################################-->

<section>
    <div class="container-md mb-5">
        <div class="row">
            <div class="col-lg-12 text-start">
                <div class="fw-light fs-2 mb-4">Menus</div>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-md-3 card-sm">
                <img class="img-fluid rounded-4 mb-2" src="images/products/collections/pastel.png" alt="">

                <a class="card-link text-gradient" href="products.html">
                        <div class="fs-5 me-2">Pasteis</div>
                        <i class="bi bi-arrow-right fs-4 fw-bold mt-1"></i>
                </a>
            </div>

            <div class="col-md-3 card-sm">
                <img class="img-fluid rounded-4 mb-2" src="images/products/collections/ham2.png" alt="">

                <a class="card-link" href="#">
                    <div class="fs-5 me-2">Hambúrgueres</div>
                    <i class="bi bi-arrow-right fs-4 fw-bold mt-1"></i>
                </a>
            </div>

            <div class="col-md-3 card-sm">
                <img class="img-fluid rounded-4 mb-2" src="images/products/collections/fries2.png" alt="">

                <a class="card-link" href="#">
                    <div class="fs-5 me-2">Acompanhamentos</div>
                    <i class="bi bi-arrow-right fs-4 fw-bold mt-1"></i>
                </a>
            </div>

        </div>
    </div>
</section>

    <!-- Section 3 - About the app set up #################################################################################################-->

    <section>
    <a class="text-decoration-none" href="http://localhost:5300/app">

        <div class="container-md">
            <div class="row justify-content-start">
                <div class="card-lg rounded-4" style="background-image: url('/images/thumbs/member1.png');">
                    <div class="col-8">
                        <div class="fs-3 fw-bold mb-2">Já tem uma conta <span class="text-gradient">MyPastry</span>?</div>
                        <div class="card-text">Registe-se agora e habilite-se a ganhar ofertas exclusivas. <br>
                            Acumule pontos que se convertem em produtos e realize os seus pedidos pela App com os Pedidos Mobile. </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
</section>