<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="img/svg" href="/images/logo-mark-sm.svg">

    <link rel="stylesheet" href="/stylesheets/profile.css">

    <title>Conta | MyPastry</title>

</head>
<body>
    <span class="back">
        <i class="icon arrow"><img src="union-1.png" alt="Ícone 10" class="icon"><a href="#"></a></i>
             Voltar
    </span>
    <div class="wrapper">
        <div class="container">
            <div class="column-a">
                <div class="profile-header">
                    <div class="profile-pic">
                        <img src="welcome-side.png" alt="Profile Picture">
                    </div>
                    <div class="profile-info">
                        <p class="username">Laís Ferreira</p>
                        <a href="#" class="logout">Terminar sessão</a>
                    </div>
                </div>
                <ul class="profile-options">
                    <ul class="profile-options">
                        <li class="profile-option"><img src="union-1 (1).png" alt="Ícone 1" class="icon"><a href="#">Painel principal</a></li>
                        <li class="profile-option"><img src="book-02.png" alt="Ícone 2" class="icon"><a href="#">Os meus pedidos</a></li>
                        <li class="profile-option"><img src="compass-location.png" alt="Ícone 3" class="icon"><a href="#">Endereços</a></li>
                        <li class="profile-option"><img src="settings-01.png" alt="Ícone 4" class="icon"><a href="#">Detalhes da conta</a></li>
                        <li class="profile-option"><img src="log-out.png" alt="Ícone 5" class="icon"><a href="#">Terminar sessão</a></li>
                    </ul>
                    
            </div>
            <div class="column-b">
                <div class="big-box">
                    <!-- Conteúdo do quadrado gigante -->
                </div>
            </div>
        </div>
        
    </div>    
    <script src="/javascripts/webconfig.js"></script>
</body>
</html>
